*{
    margin: 0;
    padding: 0;
    
  
    
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.outer-box{
    width: 100vw;
    height: 100vh;
    background-color: rgb(154, 205, 205);
   
}
.inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    padding: 20px 40px;
    background-color: aliceblue;
    border-radius:  8px;
    box-shadow: 2px 2px 5px #2773a5 ;
    
}
.signup-header h1{
    font-size: 2.5rem;
    color: black;
}
.signup-header p{
    font-size: 0.9rem;
    color: blueviolet;

}
.signup-body{
    margin: 20px 0;

}
.signup-body p{
    margin: 10px 0;
}
.signup-body p label{
    display: block;
    font-weight: bold;
    
}
.signup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 10px;
}
#submit{
    background-color: rgb(159, 159, 159);
    border: none;
    cursor: pointer;
}
#submit:hover{
    background-color: aqua;
}
.signup-footer{
    color: #555;
    text-align: center;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background:linear-gradient(to top, right, #ffffffaa,#ffffffff);
}
